<article>
   <mat-card>
    <mat-card-header> <h1>Today I Have</h1></mat-card-header>
    <button id = "special" mat-raised-button color="primary" (click) = "createNewDialog()">Create New Post</button>
</mat-card>
<!--
   <Input matInput 
                id="filterID"
                placeholder="Type here to search"
                [(ngModel)] = "filtertext"
                (input) = "filterPosts(input.value)"> 
-->

<button class="buttonsSort" mat-button (click) = "sortAscending()">Ascending order</button>
<button class="buttonsSort" mat-button (click) = "sortDescending()">Descending order</button>


<mat-accordion *ngIf = "posts.length > 0" >
    <mat-expansion-panel *ngFor = "let post of posts">
        <mat-expansion-panel-header>
            <mat-panel-title>{{post.title}}</mat-panel-title>
            <mat-panel-description>{{post.tags}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{post.content}}</p>
        <mat-action-row>
        <button mat-button color="primary" (click)="onDelete(post.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
    
</mat-accordion>
<h2 *ngIf = "posts.length == 0" > There is nothing to display!</h2>
 
</article>
