button{
    display:block;
    margin:auto;
}

mat-card-header{
    display:block;
    margin:auto;
}

h1{
    text-align: center;
}

mat-card{
    width:80%;
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}


h2{
    text-align: center;
}

mat-expansion-panel{
    width:80%;
    display:block;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}